<% @photo.each do |photo| %>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= link_to place.photo, place_path(place) %></h1><br />
	<i><%= place.photo %></i><br />
	<p><%= place.caption %></p><br />
	
</div>