@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700);

.booyah-box {
	-moz-box-shadow:1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
	
}
.pages {
	font-size: 18px;
}

.clr {
    clear:both;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
body {
	background: url('/assets/confectionary.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.navbar.navbar-inverse {
	background: url('/assets/tweed.png');
	border-radius: 0;
    box-shadow: 1px 3px 5px #c2c2c2;
}
.navbar-inverse .navbar-brand {
	color: #73B0FF;
	text-shadow: 1px 1px #ffffff;
	font-family: 'Cinzel Decorative',  sans-serif;
	font-weight: 900;
	letter-spacing: -0.3px;
	font-size: 26px;
}

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding:  8px; 
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 300px;
      }
.clear {
	clear:both;
} 

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}